*,*:before,*:after {box-sizing: border-box;margin: 0;padding: 0;}

:root {
  --main-color: #121725;
  --light-green: #54E6AF;
  --white: #fff;
  --azzurro: #C2CBE5;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Chivo', sans-serif;
  font-size: 1.8rem;
  height: 100vh;
  /* background-color: var(--main-color); */
}
main {
  background-color: var(--main-color);
  height: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 2rem;
}

.pod-section {
  background: url(assets/desktop/image-host.jpg) center right no-repeat;
  /* uso flex perché max-width non funziona in flex item */
  flex: 0 1 127.5rem;
  height: 64rem;
  position: relative;
}
.pod-section::after {
  content: url(assets/desktop/bg-pattern-dots.svg);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}
.logo {
  transform: translateY(-50%);
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  width: fit-content;
  max-width: 55%;
  padding-top: 9rem;
  padding-right: 1rem;
}
h1 {
  font-size: 5.2rem;
  font-weight: 300;
  line-height: 1.2;
  color: #54E6AF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2.4rem;
}
h1 span {
  color: #fff;
}
p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 300;
  color: #C2CBE5;
  margin: 0;
  margin-bottom: 4rem;
  max-width: 40ch;

}
.form-container {
  max-width: 60%;
  min-width: 45rem;
  margin-bottom: 6.4rem;
}
form {
  background-color: #2C344B ;
  display: flex;
  padding: .5rem;
  border-radius: 999px;
  font-size: 1.4rem;
}
.form-message {
  margin-top: .5rem;
  padding-left: 2rem;
  color: #FB3E3E;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .2px;
  visibility: hidden;
}

input {
  border-radius: 999px;
  border: none;
  padding: 1.8rem;
}
input[type=submit] {
  background-color: #54E6AF;
  font-weight: 700;
  cursor: pointer;
  margin-left: auto;
  color: var(--main-color);
}
input[type=submit]:hover {
  background-color: #B3FFE2;
}
input[type=email] {
  background-color: #2C344B;
  font-weight: 700;
  color: #fff;
  padding-left: 2rem;
}
input[type=email]:focus {
  outline: none;
}

.logos {
  width: 80%;
  display: flex;
  gap: 2rem;
  height: 3rem;
}
.logos div {
  width: 20%;
}
.logos :nth-child(3), .logos :nth-child(4) {
  width: 25%;
}

@media (max-width: 60em) {
  h1 {
    font-size: 4.8rem;
    line-height: 1.2;
  }
  main {
    align-items: flex-start;
    padding-left: 4rem;
  }
  .logo {
    margin-top: 5rem;
    transform: translateY(0%);
  }
  .pod-section {
    background: url(assets/tablet/image-host.jpg) top right no-repeat;
    height: 77rem;
  }
  .pod-section::after {
    bottom: -250px;
    left: 0;
    transform: translateY(0%);
  }
  .content {
    max-width: 85%;
    padding-top: 5rem;
  }
  .form-container {
    max-width: 60%;
    min-width: 40rem;
    margin-bottom: 4rem;
  }

}

@media (max-width: 42em) {
  main {
    padding: 0;
    height: 66.7rem;
  }
  .logo {
    margin-top: 6rem;
  }
  .pod-section {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(18, 23, 37, 0.90) 0%, rgba(18, 23, 37, 0.90) 100%),
    url(assets/mobile/image-host.jpg) top center / cover no-repeat;
    flex: 1 1 auto;
    max-width: 100%;
    height: 67rem;
    gap: 6rem;
  }
  .pod-section::after {
    display: none;
  }
  .content {
    max-width: 50rem;
    width: 100%;
    position: static;
    background-color: transparent;
    padding: 0;
    padding-inline: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 2.6rem;
    line-height: 1.5;
    max-width: 100%;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .form-container {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0;
    order: 3;
  }
  form {
    background-color: transparent;
    flex-direction: column;
    padding: 0rem;
    gap: 1.6rem;
    border-radius: 0px;
  }
  input[type=submit] {
    margin-left: 0;
    --webkit-appearance: none;
    padding: 1.8rem;
  }
  .logos {
    margin-bottom: 5rem;
    width: 100%;
  }
}